<div class="container">
  
  <h1>Rate This Image</h1>
  <p>...but only if you want to</p>
  
  <img src="<%= @cat %>">
  
  <%= form_for(@rating) do |f| %>
    <div class="field">
      <%= f.label :rating %><br />
      <%= f.number_field :rating %>
    </div>
    <br>
    <%= f.submit "Rate" %>
  <% end %>

</div>
