<p id="notice"><%= notice %></p>

<img src="<%= @pic %>">
<p>
  <b>Imageid:</b>
  <%= @rating.imageId %>
</p>

<p>
  <b>Rating:</b>
  <font size="+2" color="red"><%= @rating.rating %></font>
</p>

<h2><%= link_to 'Rate More Images!', root_path %></h2><br>

<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
