<!DOCTYPE html>
<html>
<head>
  <title>Rateflikr</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">RateFlikr App</a>
        <ul class="nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/best">Best</a></li>
        </ul>
        <ul class="nav pull-right">
          <% if current_user %>
             <li>Logged in as <%= current_user.email %>.</li>
             <%= link_to "Log out", log_out_path %>
           <% else %>
             <li><%= link_to "Sign up", sign_up_path %></li>
             <li><%= link_to "log in", log_in_path %></li>
           <% end %>
        </ul>
      </div>
    </div>
  </div>

<%= yield %>

</body>
</html>
